body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.title-page-input {
    background-color: #f0f0f06c;
    border-radius: 2px;
    border: 1px solid  rgba(0, 4, 8, 0.815);
    outline: none;
}

.title-page-input:focus-visible{
    background-color: white;
    border: 0px;
    border: 1px solid #007bff;
    box-shadow: 0px 0px 2px 1px rgb(1, 119, 254);
    outline: none;
}

.form-field-content {
    display: flex;
    flex-direction: column;
    
}

.content-page-input{
    background-color: #f0f0f06c;
    flex: 1;
    border-radius: 2px;
    border: 1px solid rgba(0, 4, 8, 0.815);
    margin-bottom: 20px;
    
}

.content-page-input:focus-visible{
    background-color: white;
    border: 0px;
    border: 1px solid #007bff;
    box-shadow: 0px 0px 5px 1px rgb(1, 119, 254);
    outline: none;
}

.conteBotom {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items:  flex-end;
}

.bottomS {
    color: white;
    position: relative;
    border: 2px solid #0051ff;
    border-radius: 3px;
    padding-block: 4px;
    padding-inline: 10px;
    background-color: #007bff;
    margin-left: auto;
}